#### IDE ###
.idea

### VisualStudioCode ###
.vscode

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

### Build files ###
**/build/*
.next

### Dotenv file ###
.env

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Node ###
node_modules

